<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
    <title>Start Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
</h:head>
<h:body>
    <!--Valdiation method in the model if the input passes the validator condition-->
    <h:form>
        <h:outputLabel  value="Input a code:" for="input"></h:outputLabel>
        <!-- Input field binds to backing field in the model-->
        <h:inputText value="#{exampleModel.input}" id="input" required="true">
            <!--Bind the value with a bean validator so that it meet requirements-->
            <f:validator validatorId="codeValidator"></f:validator>
        </h:inputText>
        <h:commandButton value="Validate!" action="#{exampleModel.validate}"></h:commandButton>
    </h:form>
</h:body>

</html>
